 html, body {
        width: 100%;
        height: 100%;
     font-family: "Raleway", Sans-serif;
    }
    /* landing*/

.studio {
    background-color: #fff;
     height:100%;
}

.agency {
    background-color: #333;
     height:100%;
}
    
.images {
        
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    }
    .cbtn {
         width: auto;
        background-color: #fff;
        color: #333;
        border-radius: 0px;
          position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
         -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
       
    }
     .sbtn {
         width: auto;
        background-color: #333;
         color: #fff;
        border-radius: 0px;
         position: absolute;
          top: 80%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
          -moz-transition: all .2s ease-in;
          -o-transition: all .2s ease-in;
          -webkit-transition: all .2s ease-in;
          transition: all .2s ease-in;
        
    }
    
    .cbtn:hover { 
        background-color: #333;
        color: #fff;
   
        
        
}
    .sbtn:hover { 
        background-color: #fff;
        color: #333;
   
        
}
